<!DOCTYPE html>
<html>
<head>
  <title>TunesTakeout</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <main class="container">
    <%= "Hi #{ current_user.name }!" if current_user %>
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Favorites", root_path if current_user %></li>
        <li><%= link_to "Log In", "/auth/spotify" unless current_user %></li>
        <li><%= link_to "Log Out", logout_path, method: :delete if current_user%></li>
      </ul>
    </nav>
<%= yield %>

</body>
</html>
